<!DOCTYPE html>
<html  class="no-js" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="../../static/student/css/index.css" th:href="@{/student/css/index.css}"/>
<link rel="stylesheet" type="text/css" href="../../static/student/css/stu_apply.css" th:href="@{/student/css/stu_apply.css}"/>
<link rel="stylesheet" type="text/css" href="../../static/student/css/stu_look.css" th:href="@{/student/css/stu_look.css}"/>
<link rel="stylesheet" type="text/css" href="../../static/css/iconfont.css" th:href="@{/css/iconfont.css}"/>
<script type="text/javascript" src="../../static/js/jquery-1.10.2.min.js"  th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"  th:src="@{/js/bootstrap.js}"></script>
<script src="../../static/js/index.js" type="text/javascript" th:src="@{/js/index.js}"></script>
<!--[if lte IE 9]>
	<script src="../../static/js/respond.js" th:src="@{/js/respond.js}"></script>
	<script src="../../static/js/html5shiv.min.js" th:src="@{/js/html5shiv.min.js}"></script>
<![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top titleNav">
    <div class="navbar-header">
        <a th:href="@{/}" class="btn hidden-xs"><img src="../../static/img/test.png" th:src="@{/img/test.png}" style="width:150px"/></a>
        <h2 class="btn btn-title ">大连理工大学就业管理与服务平台</h2>
    </div>
    <div class=" navbar-collapse  collapse">
        <ul class="nav navbar-nav navbar-right ">
            <li ><a th:text="${session.user.depName}" th:data-id="${session.user.id}" id="identity">我是学生</a></li>
           <li class="logout"><a><span class="glyphicon glyphicon-off"></span></a></li>
            <li><a></a></li>
        </ul>
    </div>

</nav>
<section class="container-fluid con">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="z-index: 999;">
            <div>
                <aside class="aside">
                    <ul class="nav nav-pills nav-stacked">
                         <li><a th:href="@{/}"><span class="iconfont icon-shouye"></span>我的主页</a></li>
                        <li><a th:href="@{/student/stuInformation.html}"><span class="iconfont icon-xuejiguanli"></span>学籍信息</a></li>
                        <li><a th:href="@{/}"><span class="iconfont icon-xieyi"></span>招聘需求</a></li>
                        <li><a th:href="@{/student/JobDestination?stuId=}+${session.user.id}"><span class="iconfont icon-paidan"></span>我的派遣</a></li>
                        <li><a th:href="@{/student/stu_offer.html}"><span class="iconfont icon-offer"></span>我的offer</a></li>
                        <li class="active"><a th:href="@{/student/agreement.html}"><span class="iconfont icon-xieyi"></span>三方协议</a></li>
                        <li><a th:href="@{/student/recruitmentQuery/stuRecruitment.html}"><span class="iconfont icon-xieyi"></span>招聘会</a></li>
                   		<li><a th:href="@{/student/stuBlankBook}"><span class="iconfont icon-agreement"></span>空白协议书</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="main">
				<h3>违约申请历史</h3>
				<form action="" method="post" class="bgColor col-lg-7 col-md-7 col-sm-7 col-xs-7 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 form-horizontal" style="padding-bottom: 25px;">
					<div class="row">
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">姓名：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input type="text" readonly class="form-control" name="stuName" th:value="${violateApplication.stuName}"   />
						</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">学号：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input type="text" readonly class="form-control" name="stuNo" th:value="${violateApplication.stuNo}"   />
						</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">院系：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input type="text" th:value="${#pubcode.codeName('academy',violateApplication.departmentId)}"   name="departmentId"  readonly class="form-control"  />
						</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">专业：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input type="text" th:value="${#pubcode.codeName('major',violateApplication.majorCode)}" name="majorCode" readonly class="form-control"  />
						</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">违约原因：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input type="text" th:value="${#pubcode.codeName('violateReason',violateApplication.reason)}"  name="reason"   readonly class="form-control"  />
						</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">违约金：</label>
                       <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
	                            <input type="text" id="cost" th:value="${violateApplication.cost}" name="cost" readonly class="form-control" />
                                 <script th:inline="JavaScript">
                                     var cost = [[${violateApplication.cost}]];
                                     $('#cost').val(cost+"元");
                                 </script>
                        </div>
                        </div>
					</div>
					<div class="row">
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">申请理由：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<textarea name="applyReason" readonly class="form-control" th:text="${violateApplication.applyReason}" rows="4" style="resize: none;"></textarea>
                        </div>
                        </div>
					</div>
					<div class="row">
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">申请日期：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input type="text" id="applicationTime" th:value="${violateApplication.applicationTime}" name="applicationTime" readonly class="form-control"    />
                            <script th:inline="JavaScript">
                                var at = [[${violateApplication.applicationTime}]];
                                var date = at.year+'-'+at.monthValue+'-'+at.dayOfMonth+' '+at.hour+':'+at.minute;
                                $('#applicationTime').val(date);
                            </script>
                        </div>
                        </div>
					</div>
                   	<div  th:if="${violateApplication.departAuditStatus eq '02' }" class="row">
                   		<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">院系意见：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input type="text" th:value="${violateApplication.departNoPassReason}" name="departNoPassReason" readonly class="form-control"    />
						</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">院系审核状态：</label>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
                            <input type="text" th:value="${#pubcode.codeName('auditStatus',violateApplication.departAuditStatus)}" name="departAuditStatus" readonly class="form-control"    />
                        </div>
                        </div>
					</div>
					<div  th:if="${violateApplication.departAuditStatus eq '01'or violateApplication.departAuditStatus eq '02' }" class="row">
						<div  class="form-group">
						 <label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">院系审核人：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input   type="text" th:value="${violateApplication.departAuditor}" name="departAuditor" readonly class="form-control"   />
						</div>
						</div>
					</div>
					<div th:if="${violateApplication.departAuditStatus eq '01'or violateApplication.departAuditStatus eq '02' }" class="row">
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">院系审核日期：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input type="text" id="departAuditTime" name="departAuditTime" readonly class="form-control"  th:value="${violateApplication.departAuditTime}"   />
                            <script th:inline="JavaScript">
                                var departAuditTime = [[${violateApplication.departAuditTime}]];
                                var departAuditTimeDate = departAuditTime.year+'-'+departAuditTime.monthValue+'-'+departAuditTime.dayOfMonth+' '+departAuditTime.hour+':'+departAuditTime.minute;
                                $('#departAuditTime').val(departAuditTimeDate);
                            </script>
                        </div>
                        </div>
					</div>
                    <div  th:if="${violateApplication.schAuditStatus eq '02' }" class="row">
                    	<div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">学校意见：</label>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
                            <input type="text" th:value="${violateApplication.schNoPassReason}"  name="schNoPassReason"  readonly class="form-control"   />
                        </div>
                        </div>
                    </div>
					<div  class="row">
						<div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">学校审核状态：</label>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
                            <input type="text" th:value="${#pubcode.codeName('auditStatus',violateApplication.schAuditStatus)}"  name="schAuditStatus"  readonly class="form-control"   />
                        </div>
                        </div>
					</div>
					<div class="row">
						<div class="form-group">
						<label th:if="${violateApplication.schAuditStatus eq '01'or violateApplication.schAuditStatus eq '02' }" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">学校审核人：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input th:if="${violateApplication.schAuditStatus eq '01'or violateApplication.schAuditStatus eq '02' }" type="text" th:value="${violateApplication.schAuditor}"  name="schAuditor"  readonly class="form-control"    />
						</div>
						</div>
					</div>
					<div th:if="${violateApplication.schAuditStatus eq '01'or violateApplication.schAuditStatus eq '02' }" class="row">
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 col-xs-4 control-label">学校审核日期：</label>
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
							<input type="text" id="schAuditTime" th:value="${violateApplication.schAuditTime}"  name="schAuditTime" readonly class="form-control"    />
                            <script th:inline="JavaScript">
                                var schAuditTime = [[${violateApplication.schAuditTime}]];
                                var schAuditTimeDate = schAuditTime.year+'-'+schAuditTime.monthValue+'-'+schAuditTime.dayOfMonth+' '+schAuditTime.hour+':'+schAuditTime.minute;
                                $('#schAuditTime').val(schAuditTimeDate);
                            </script>
                       </div>
                       </div>
					</div>
				</form>

            </div>
        </div>
    </div>
</section>
</body>
</html>
