<!DOCTYPE html>
<html  class="no-js" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="../../static/student/css/index.css" th:href="@{/student/css/index.css}"/>
<link rel="stylesheet" type="text/css" href="../../static/css/iconfont.css" th:href="@{/css/iconfont.css}"/>
<link src="../../static/css/page.css"  rel="stylesheet" th:href="@{/css/page.css}"></script>
<script type="text/javascript" src="../../static/js/jquery-1.10.2.min.js"  th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"  th:src="@{/js/bootstrap.js}"></script>
<script src="../../static/js/page.js" type="text/javascript" th:src="@{/js/page.js}"></script>
<script src="../../static/js/index.js" type="text/javascript" th:src="@{/js/index.js}"></script>
<!--[if lte IE 9]>
	<script src="../../static/js/respond.js" th:src="@{/js/respond.js}"></script>
	<script src="../../static/js/html5shiv.min.js" th:src="@{/js/html5shiv.min.js}"></script>
<![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top titleNav">
    <div class="navbar-header">
        <a th:href="@{/}" class="btn hidden-xs"><img src="../../static/img/test.png" th:src="@{/img/test.png}" style="width:150px"/></a>
        <h2 class="btn btn-title ">大连理工大学就业管理与服务平台</h2>
    </div>
    <div class=" navbar-collapse  collapse">
        <ul class="nav navbar-nav navbar-right ">
            <li ><a th:text="${session.user.depName}" th:data-id="${session.user.id}" id="identity">我是学生</a></li>
            <li class="logout"><a><span class="glyphicon glyphicon-off"></span></a></li>
            <li><a></a></li>
        </ul>
    </div>

</nav>
<section class="container-fluid con">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="z-index: 999;">
            <div>
                <aside class="aside">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a th:href="@{/}"><span class="iconfont icon-shouye"></span>我的主页</a></li>
                        <li><a th:href="@{/student/stuInformation.html}"><span class="iconfont icon-xuejiguanli"></span>学籍信息</a></li>
                        <li class="active"><a th:href="@{/}"><span class="iconfont icon-xieyi"></span>招聘需求</a></li>
                        <li><a th:href="@{/student/JobDestination?stuId=}+${session.user.id}"><span class="iconfont icon-paidan"></span>我的派遣</a></li>
                        <li><a th:href="@{/student/stu_offer.html}"><span class="iconfont icon-offer"></span>我的offer</a></li>
                        <li><a th:href="@{/student/agreement.html}"><span class="iconfont icon-xieyi"></span>三方协议</a></li>
                        <li><a th:href="@{/student/recruitmentQuery/stuRecruitment.html}"><span class="iconfont icon-xieyi"></span>招聘会</a></li>
                   		<li><a th:href="@{/student/stuBlankBook}"><span class="iconfont icon-agreement"></span>空白协议书</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        	<div class="main" style="position: relative;">
				<h3>招聘职位</h3>
				<div class="tab-pane" style="padding-bottom: 50px;">
		  			<div class="form-horizontal form1 bgColor">
		  			<!--第二页的内容-->
	                    <div class="form-content">
	                        <div class="workRow clearfix" style="padding:20px;margin-bottom: 10px;border-bottom: 1px solid #ddd; position:relative">

	                           <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">职位名称</label>
	                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	                                    <input type="text" class="form-control" readonly th:value="${recJobPosition.name}" />
	                                </div>
	                            </div>
	                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">职位描述</label>
	                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	                                    <input type="text" class="form-control" readonly th:value="${recJobPosition.description}"/>
	                                </div>
	                            </div>
	                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">职位类型</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" class="form-control" readonly th:value="${recJobPosition.typeName}"/>
                                    </div>
	                            </div>
	                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">职位类别</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" class="form-control" readonly th:value="${recJobPosition.categoryName}"/>
                                    </div>
	                            </div>
	                            <div class="div">
	                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                    <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">学历要求</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" readonly th:value="${recJobPosition.degreeName}"/>
                                        </div>
	                                </div>
	                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                    <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">专业要求</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" readonly th:value="${recJobPosition.major}"/>
                                        </div>
	                                </div>
	                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                    <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">接收简历邮箱</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" readonly th:value="${recJobPosition.recEmail}"/>
                                        </div>
	                                </div>
	                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                    <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">接收简历方式</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" readonly th:value="${recJobPosition.receiveModeName}"/>
                                        </div>
	                                </div>
	                                <div class="clearfix"></div>
	                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                    <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">工作城市</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" readonly th:value="${recJobPosition.city}"/>
                                        </div>
	                                </div>
	                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                    <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">详细地址</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" readonly th:value="${recJobPosition.address}"/>
                                        </div>
	                                </div>
	                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                    <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">招聘人数</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" readonly th:value="${recJobPosition.recruitmentNum}"/>
                                        </div>
	                                </div>
	                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                    <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">薪资待遇</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" readonly th:value="${#pubcode.codeName('salary',recJobPosition.salary)}"/>
                                        </div>
	                                </div>
	                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                    <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">开始时间</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" readonly th:value="${recJobPosition.startTime}"/>
                                        </div>
	                                </div>
	                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	                                    <label class="col-lg-4  col-md-4 col-sm-4 col-xs-4  control-label">结束时间</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" readonly th:value="${recJobPosition.endTime}"/>
                                        </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
		  			</div>
				</div>
			</div>
        </div>
    </div>
</section>
</body>
</html>
