.show2{
    display: none;
}
.messag .form-control{
    border:1px solid #f8f8f8;
}
.message,.mess{
    margin-bottom: 30px;
}
.message{
	/*margin-left: 20px;*/
	box-sizing: border-box;
}
.confirm{
    /*padding: 40px;*/
}

.message div{
    height: 14px;
    line-height: 34px;
}
.well{
    background-color:#ffffcc ;
}
